section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 10px;
    font-family: var(--fonte);
    position: relative;
  }

  
  h2, p{
    font-size: 15px;
    color: var(--cor-principal);
    font-weight: 200;
    margin: 0;
    text-align: center;
  }

  .sem_cup{
    color: var(--cor-principal);
    font-size: 15px;
  }

  p{
    font-size: 8px;
  }
  
  
  .acoes{
    margin-top: 0.5em;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .acoes button{
    padding: 0.5em 2em;
    border: 0;
    border-radius: 10px;
    color: var(--cor-branca);
  }
  
  .cadastrar{
    background-color: green;
  }
  
  .sair{
    background-color: red;
  }

  @media (width <= 400px) {
    h2{
      font-size: 13px;
    }
  }


  .box_fotos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    font-size: 10px;
    width: 95%;
    padding: 1em;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
  }

  .foto_disc{
    display: flex;
    flex-direction: column;
  }

  .box_fotos button{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 0;
    padding: 5px 1em;
    border-radius: 10px;
    cursor: pointer;
  }


  @media (width <= 800px) {
    mat-mdc-dialog-surface mdc-dialog__surface{
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
    }

    section{

      width: 70%;
    }
  }