<button [routerLink]="['/administrador']" class="voltar"><mat-icon>arrow_back</mat-icon></button>
<main>
  <h1>Clientes</h1>
  <button (click)="openRegisterDialog('Cliente')">Cadastrar cliente</button>
  <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
          <th>Data de aniversário</th>
          <th>Permissão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td><button (click)="openDialog('Cliente', usuario)">{{ usuario.nome }}</button></td>
          <td>{{ usuario.apelido }}</td>
          <td>{{ usuario.dataAniversario | date: "dd/MM"}}</td>
          <td>{{ usuario.permissao }}</td>
        </tr>
      </tbody>
  </table>
</main>
